.accounts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin: auto;
    padding: 50px 50px 200px;
    background-color: #ccc;
    border: 2px solid #555;
    border-top: none;
    border-bottom: none;
    gap: 70px;
}

.accounts-container h2 {
    font-size: 32px;
    position: relative;
    top: 50px;
}

.account-card,
.account-card.active {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 10px;
    width: 70%;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 40px;
    background-color: rgba(97, 94, 94, 0.3);
}

.account-card.active {
    border: 2px solid rgb(91, 155, 91);
}

.account-card button,
.account-card a button {
    padding: 5px 10px;
    display: block;
    width: 250px;
    height: 40px;
    margin: 20px auto 0;
    border: 1px solid #111;
    border-radius: 4px;
    background-color: #777;
    grid-column: span 2;
    text-align: center;
}


#open-account-btn {
    height: 50px;
    width: 300px;
    padding: 10px;
    font-size: 24px;
    margin: 50px auto 0;
    background-color: #777;
    border: 1px solid #111;
    border-radius: 10px;
    cursor: pointer;
}

.account-card a button {
    cursor: pointer;
}

.account-card a button:hover,
#open-account-btn:hover {
    transform: scale(0.95);
    box-shadow: none;
}

.transactions-header {
    margin-top: 120px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.transactions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 70vw;
    margin: 50px auto 150px;
    background-color: #ccc;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 30px;
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
}

.transactions-table caption {
    text-align: center;
    font-size: 24px;
    margin: 0 auto 10px;
}

.transactions-table th,
.transactions-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.transactions-table th {
    background-color: #f2f2f2;
}

.transactions-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.transactions-table tr:nth-child(odd) {
    background-color: #999;
}

.transactions-table tr:hover {
    background-color: #e0e0e0;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
    padding: 150px;
    background-color: #ccc;
    border: 1px solid #555;
    border-top: none;
    border-bottom: none;
    gap: 100px;
}

.bank-name {
    color: #111;
    font-size: 70px;
    font-weight: 600;
    margin-top: 150px;
    text-align: center;
}

.dashboard .welcome {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.dashboard .actions {
    display: flex;
    justify-content: space-around;
}

.dashboard .actions ul {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.dashboard .actions ul li {
    list-style: none;
    padding: 10px 20px;
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: #555 2px 2px 2px 2px;
    font-size: 24px;
    text-align: center;
}

.dashboard .actions ul li {
    align-self: flex-start;
}

.dashboard .actions ul li:hover {
    transform: scale(1.05);
    box-shadow: none;
}

.dashboard .actions ul li:nth-child(even) {
    align-self: flex-end;
}

.dashboard ul li a {
    height: inherit;
    width: inherit;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard .success-msg {
    color: green;
    font-size: 12px;
}

.hor-line {
    width: 100%;
    border: 1px solid black;
}

.profile-container {
    width: 70vw;
    padding: 80px;
    margin: 100px auto;
    background-color: #bbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 50px;
    border: 1px solid #555;
    border-radius: 15px;
}

.profile-container h2 {
    text-align: center;
    font-size: 40px;
}

.info {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    margin: 50px auto;
    background-color: #aaa;
    padding: 40px;
    border: 1px solid #777;
    border-radius: 20px;
    font-size: 20px;
}

.accounts h3,
.transactions h3 {
    font-size: 30px;
    text-align: center;
}

.accounts,
.transactions {
    width: 100%;
    background-color: #ddd;
    border: 1px solid #777;
    border-radius: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.account-info,
.transaction-info {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
    background-color: #aaa;
    border: 1px solid #777;
    border-radius: 10px;
    padding: 30px;
}

.flash-msg {
    padding: 10px;
    font-size: 12px;
    width: 200px;
    background-color: #bbb;
    border: 1px solid #111;
    border-radius: 10px;
    transform: translateX(150%);
    animation: slideIn 0.2s forwards;

    position: fixed;
    bottom: 20px;
    right: 10px;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
    }
}

.cross {
    font-size: 12px;
    height: 14px;
    width: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.cross:hover {
    background-color: #777;
}