{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="bank-name">MM ARMS BANK</h1>

<section class="dashboard">

    <div class="welcome">
        <h3>Hello, {{ username }}!</h3>
        <h4>You are most welcome to MM ARMS BANK</h4>
        <p>Your Trusted Digital Banking Partner</p>
    </div>

    <div class="actions">
        <ul>

            <li>
                <a href="{{ url_for('account.accounts') }}">Accounts Dashboard</a>
            </li>

            <li>
                <a href="{{ url_for('transaction.history') }}">Transactions History</a>
            </li>

            <li>
                <a href="{{ url_for('account.transfer') }}">Transfer Money</a>
            </li>

        </ul>

        <ul>

            <li>
                <a href="{{ url_for('account.deposit') }}">Deposit Money</a>
            </li>

            <li>
                <a href="{{ url_for('account.withdraw') }}">Withdraw Money</a>
            </li>

            <li>
                <a href="{{ url_for('account.open_account') }}">Open Account</a>
            </li>

            <li>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </li>

        </ul>

        {% with messages = get_flashed_messages() %}
        {% for msg in messages %}
        <div class="flash-msg">
            <div class="cross">
                <i class="fa-solid fa-xmark"></i>
            </div>

            <div class="success-msg">
                {{ msg }}
            </div>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
</section>
{% endblock %}