{% extends "base.html" %}

{% block title %}Deposit Money{% endblock %}

{% block content %}

<form action="{{ url_for('account.deposit') }}" method="post">
    <div class="deposit-form">
        <h2>Deposit Money</h2>
        <div class="input-group">
            <input type="number" class="amount" name="amount" min="0.01" step="0.01" placeholder="Amount" required>
            <p class="error-msg amount-error"></p>
            {% if errors.amount %}
            <p class="error-msg">{{ errors.amount }}</p>
            {% endif %}
        </div>

        {% if errors.source_account %}
        <p class="error-msg">{{ errors.source_account }}</p>
        {% endif %}

        {% if errors.source_account_status %}
        <p class="error-msg">{{ errors.source_account_status }}</p>
        {% endif %}

        <button type="submit">Deposit</button>
    </div>
</form>


{% endblock %}