{% extends "base.html" %}

{% block content %}
<div class="accounts-container">
    <h2>Select an Account</h2>
    {% if errors %}
    {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}
    {% else %}
    {% for account in accounts %}
    <div class="{% if account.account_id == session.get('current_account_id') %}active{% else %}account-card{% endif %}">
        <strong>Customer ID:</strong>
        <p> {{ account.customer_id }}</p>
        <strong>Account ID:</strong>
        <p> {{ account.account_id }}</p>
        <strong>Account Type:</strong>
        <p> {{ account.account_type }}</p>
        <strong>Account Status:</strong>
        <p> {{ account.status }}</p>
        <strong>Account Balance:</strong>
        <p> {{ account.balance }}</p>
        <strong>Created Time:</strong>
        <p> {{ account.timestamp | format_time}}</p>
        {% if account.account_id == session.get("current_account_id") %}
        <button disabled>This is your current account.</button>
        {% else %}
        <a href="{{ url_for('account.use_account', acc_id=account.account_id) }}">
            <button>Use this Account</button>
        </a>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}